@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: tan;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  background-color: black;
  align-items: center;
}

nav a {
  display: block;
  font-size: 1.3em;
  margin: 10px;
  color: white;
}

nav span {
  font-size: 2em;
  color: cyan;
  text-transform: uppercase;
}

a {
  color: black;
}

table {
  color: black;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c4d04;
  color: white;
}